$loaderColor: #7b59ff;

.TestCarousel__container {
  width: 100%;
  overflow: hidden;
}

.TestCarousel {
  overflow: hidden;
  display: flex;
  align-items: center;

  &.TestCarousel--isRTL {
    direction: rtl;

    .TestCarousel__trackContainer {
      .TestCarousel__track {
        direction: rtl;
      }
    }
  }

  .TestCarousel__trackContainer {
    width: 100%;
    overflow: hidden;
    .TestCarousel__track {
      display: flex;
      overflow: hidden;
      list-style: none;
      margin: 0;
      padding: 0;

      &.TestCarousel__track--transition {
        transition: transform;
      }
    }
  }
}

/* arrows */
.TestCarousel__arrows {
  cursor: pointer;
}

/* loader */
.TestCarousel__loader {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 4px solid $loaderColor;
  border-left-color: transparent;
  animation: loader 1s infinite linear;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}